@model IEnumerable<Wallet_Wizard.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-7">
       <ejs-grid id="categories" dataSource="@Model" gridLines="None">
           <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate"></e-grid-column>
                <e-grid-column headerText="Action"></e-grid-column>
           </e-grid-columns>
       </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color: #212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>
